<div class="question-view">
  <h1><%= @question.title %></h1>
  <h4>By: <%= link_to @question.author.username, @question.author %> <%= image_tag @question.author.image, class:"profile_image"%></h4>
  <h4>Posted: <%= @question.created_human_time %></h4>
  <h4>Category: <%= @question.category.title %></h4>
  <p><%= @question.description %></p>
  <% if @question.author == current_user %>
      <%= link_to "Edit", edit_question_path, class: "btn btn-secondary" %>
      <%= link_to "Delete", question_path(@question), method: :delete, class: "btn btn-secondary" %>
  <%end%>
</div>

<% if @solutions.any? %>
  <div class="solution-list pad-50">
    <h2>Solutions</h2>
    <% @solutions.each do |solution| %>
      <div class="comment-item">
        <p><%= solution.statement %></p>
        <ul class="list-unstyled">
          <li><span class="c-author">By: <%= link_to solution.commenter.username, user_path(solution.commenter) %><br> <small>Helpfullness: <%= solution.commenter.helpfullness %></small></span></li>
          <li><span>Posted:</span> <%= solution.created_human_time %></li>
          <li><span>Votes:</span> <%= solution.votes %></li>
        </ul>

        <div class="vote-btns">
          <%if solution.commenter != current_user%>
            <%= button_to "Upvote", comment_path(solution), params: {comment: {votes: 1}}, method: :patch, class: "btn btn-secondary" %>
            <%= button_to "Downvote", comment_path(solution), params: {comment: {votes: -1}}, method: :patch, class: "btn btn-secondary" %>
            <%= button_to "Approachable", comment_path(solution), params: {comment: {approachability_rating: 1}}, method: :patch, class: "btn btn-secondary" %>
            <%= button_to "Disrespectful", comment_path(solution), params: {comment: {approachability_rating: -1}}, method: :patch, class: "btn btn-secondary" %>
          <%end%>
          <% if @question.author == current_user && current_user != solution.commenter %>
            <%= button_to "Remove Solution", comment_path(solution), params: {comment: {question_id: @question.id, solution: false}}, method: :patch,class: "btn btn-danger" %>
          <% end %>
        </div>

        <% if solution.commenter == current_user %>
          <%= link_to "Edit", edit_comment_path(solution), class: "btn btn-secondary" %>
          <%= link_to "Delete", comment_path(solution), class: "btn btn-secondary", method: :delete %>
        <%end%>

      </div>
    <% end %>
  </div>
<% end %>

<div class="new-comment pad-50">
  <h2>New Comment</h2>
  <%= render "comments/comment" %>
</div>

<div class="comment-list pad-50">
  <h2>Comments</h2>
    <% @comments.each do |comment| %>
      <div class="comment-item">
        <p><%= comment.statement %></p>
        <ul class="list-unstyled">
          <li><span class="c-author">By: <%= link_to comment.commenter.username, user_path(comment.commenter) %> <%= image_tag comment.commenter.image, class:"profile_image"%> <br> <small>Helpfullness: <%= comment.commenter.helpfullness %></small></span></li>
          <li><span>Posted:</span> <%= comment.created_human_time %></li>
          <li><span>Votes:</span> <%= comment.votes %></li>
        </ul>

        <div class="vote-btns">
          <%if comment.commenter != current_user%>
          <%= button_to "Upvote", comment_path(comment), params: {comment: {votes: 1}}, method: :patch, class: "btn btn-secondary btn-all" %>
          <%= button_to "Downvote", comment_path(comment), params: {comment: {votes: -1}}, method: :patch, class: "btn-all btn btn-secondary " %>
          <%= button_to "Approachable", comment_path(comment), params: {comment: {approachability_rating: 1}}, method: :patch, class: "btn btn-secondary" %>
          <%= button_to "Disrespectful", comment_path(comment), params: {comment: {approachability_rating: -1}}, method: :patch, class: "btn btn-secondary" %>
          <%end%>
          <% if @question.author == current_user && current_user != comment.commenter %>
            <%= button_to "Add Solution", comment_path(comment), params: {comment: {question_id: @question.id, solution: true}}, method: :patch,class: "btn btn-success" %>
          <% end %>
        </div>



        <% if comment.commenter == current_user %>
          <%= link_to "Edit", edit_comment_path(comment), class: "btn btn-secondary" %>
          <%= link_to "Delete", comment_path(comment), class: "btn btn-secondary", method: :delete %>
        <%end%>

      </div>
    <% end %>
</div>
