
<h1> Log in</h1>

<%= form_for(:session, url: login_path) do |f| %>
    <p><%=f.label :username%> 
    <%= f.text_field :username%> </p>
    <p><%=f.label :password%>
    <%= f.password_field :password%> </p>
    <p><%= f.submit 'Login'%> </p>
<% end %>

<%= link_to 'New user? Click Here', new_user_path %>